@import "tailwindcss";

:root {
  --background: hsl(0, 100%, 100%);
  --color-primary: hsl(0, 0%, 27%);
  --color-secondary: hsl(0, 0%, 63%) ;
}

@theme inline {
  --color-background: var(--background);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
  }
}

body {
  background: var(--background);
  color: var(--color-secondary);
  font-size: 16px;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.h1 {
  color: black;
  font-weight: 700;
}

.color-secondary{
  color: var(--color-secondary);
}

